.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 48px !important;
    border-radius: 4px !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    height: 48px !important;
}

.css-lsyn39-MuiAutocomplete-root .MuiOutlinedInput-root{
    height:48px !important;
 
}

.css-1cgr419-MuiAutocomplete-root .MuiOutlinedInput-root {

    height:48px !important;
    padding:9px;
}

