.imgClass1 {
  width: 360px;
  border-radius: 25px;
}

.imgClass2 {
    width: 600px;
    border-radius: 25px;
}

.img-contr {
    left: 170px;
    bottom: -150px;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 7px;
}
